<main>
    <div>
        <h1>Lista de productos creados</h1>
    </div>
    <div>
         {{#each prods }}
                <div>
                         <p>{{this.title}}</p>
                         <p>{{this.price}}</p>
                    
                </div>
            {{/each}}
    </div>
       
</main>